<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kyf.loveapplication">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".LoveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 适配三星s8 超大屏手机 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1115171009115756#store-sns"/>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <!-- 闪屏页 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 手机验证码登录 -->
        <activity
            android:name=".ui.activity.LoginMobileActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 登录失败 -->
        <activity
            android:name=".ui.activity.LoginDefeatActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 注册 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <!-- 找回密码 -->
        <activity
            android:name=".ui.activity.FindPassWordActivity"
            android:configChanges="locale|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.AddFreindActivity">
        </activity>
        <activity android:name=".ui.activity.UserHomePageActivity">
        </activity>
        <activity android:name=".ui.activity.AuthorityActivity">
        </activity>
        <activity android:name=".ui.activity.ChatActivity">
        </activity>
    </application>

</manifest>